@media (min-width: 480px) {
    .container {
        width: 600px;
        margin: 180px auto;
        display: flex;
        border-top-right-radius: 20px;
        border-bottom-right-radius: 20px;
        height: 40vh;
        font-family: 'Hanken Grotesk', sans-serif;
        box-sizing: border-box;
    }

    .result {
        background-color: #533af6;
        border-radius: 20px;
        width: 40%;
        height: 50vh;
        text-align: center;
        padding: 20px;
    }

    .summary {
        margin: 20px 30px;
    }

    .title-result {
        font-weight: 800;
        color: #aba0f5;
    }

    .title-summary {
        font-weight: 800;
        color: black;
    }

    .score {
        background-color: #241cc8;
        height: 45%;
        width: 70%;
        margin: 0px auto;
        border-radius: 50%;
    }

    .self-score {
        font-weight: 800;
        color: white;
        font-size: 42px;
        margin-bottom: 0px;
        margin-top: 0px;
        padding-top: 45px;
    }

    .max-score {
        color: #95abcf;
        font-weight: 500;
        margin-top: 0px;
        font-size: 14px;
        margin-bottom: 0px;
    }

    .result-info {
        color: white;
        font-size: 24px;
        margin-bottom: 0px;
    }

    .result-info-summary {
        font-size: 14px;
        color: white;
        padding: 0px 10px;
    }


    .summary-flex {
        display: flex;
        justify-content: space-between;
    }

    .summary-text {
        width: 100%;
    }

    .sm-flex-child {
        display: flex;
        gap: 4px;
    }

    .summary-card {
        width: 100%;
        border-radius: 10px;
        padding: 12px 12px;
        margin-bottom: 10px;
    }

    .score-card {
        padding-left: 30px;
    }

    .lower-score {
        color: grey;
    }

    .btn {
        border: none;
        background-color: #303b5a;
        color: white;
        padding: 14px 72px;
        border-radius: 40px;
        font-family: 'Hanken Grotesk',
            sans-serif;
        font-weight: 800;
        margin-top: 20px;
        margin-left: 20px;
    }

    #text-1 {
        color: red;
    }

    #text-2 {
        color: rgb(237, 200, 17)
    }

    #text-3 {
        color: #51a692;
    }

    #text-4 {
        color: #202992;
    }

    #card-1 {
        background-color: rgb(252, 241, 241);
    }

    #card-2 {
        background-color: rgb(252, 252, 232);
    }

    #card-3 {
        background-color: #ebfffa;
    }

    #card-4 {
        background-color: #f1f6f8;
    }

}

@media (max-width: 480px) {
    body {
        margin: 0px;
    }

    .container {
        border-bottom-left-radius: 20px;
        border-bottom-right-radius: 20px;
        font-family: 'Hanken Grotesk', sans-serif;
        box-sizing: border-box;
    }

    .result {
        background-color: #533af6;
        border-bottom-left-radius: 20px;
        border-bottom-right-radius: 20px;
        width: 90vw;
        height: 50vh;
        text-align: center;
        padding: 10px 22px;
    }

    .summary {
        margin: 20px 30px;
    }

    .title-result {
        font-weight: 800;
        color: #aba0f5;
    }

    .title-summary {
        font-weight: 800;
        color: black;
    }

    .score {
        background-color: #241cc8;
        height: 45%;
        width: 40%;
        margin: 0px auto;
        border-radius: 50%;
    }

    .self-score {
        font-weight: 800;
        color: white;
        font-size: 42px;
        margin-bottom: 0px;
        margin-top: 0px;
        padding-top: 40px;
    }

    .max-score {
        color: #95abcf;
        font-weight: 500;
        margin-top: 0px;
        font-size: 14px;
        margin-bottom: 0px;
    }

    .result-info {
        color: white;
        font-size: 24px;
        margin-bottom: 0px;
    }

    .result-info-summary {
        font-size: 14px;
        color: white;
        padding: 0px 10px;
    }


    .summary-flex {
        display: flex;
        justify-content: space-between;
    }

    .summary-text {
        width: 100%;
    }

    .sm-flex-child {
        display: flex;
        gap: 4px;
    }

    .summary-card {
        border-radius: 10px;
        padding: 12px 12px;
        margin-bottom: 10px;
    }

    .score-card {
        padding-left: 30px;
    }

    .lower-score {
        color: grey;
    }

    .btn {
        border: none;
        background-color: #303b5a;
        color: white;
        padding: 14px 72px;
        border-radius: 40px;
        font-family: 'Hanken Grotesk',
            sans-serif;
        font-weight: 800;
        margin-top: 20px;
        margin-left: 70px;
    }

    #text-1 {
        color: red;
    }

    #text-2 {
        color: rgb(237, 200, 17)
    }

    #text-3 {
        color: #51a692;
    }

    #text-4 {
        color: #202992;
    }

    #card-1 {
        background-color: rgb(252, 241, 241);
    }

    #card-2 {
        background-color: rgb(252, 252, 232);
    }

    #card-3 {
        background-color: #ebfffa;
    }

    #card-4 {
        background-color: #f1f6f8;
    }
}